* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #111;
  color: #fff;
}
.lists{
  margin-top: -100px;
}
footer{
  margin: 50px 0 ;
  text-align: center; 
}
.loading{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  z-index: 8;
  position: fixed;

  background-color: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}
.loading img{
  width: 35%;
}